---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="https://image.niracler.com/2025/05/a7c2b95c8ae55bbdc78b5e49454d17a4.jpg" alt="博客头图" />
			<blockquote>
				或许每个人都只是想证明自己的确存在着，希望他人也能认知到自己确实存在于这个世上。也许大家都是基于这个单纯的行动理念进行一切行为。所盼望的只有一个，那就是"不要忘了我"这个简洁却悲痛的讯息。
			</blockquote>
			<p style="text-align: right; font-style: italic; margin-bottom: 3rem;">
				—— 《凉宫春日的忧郁》
			</p>
		</main>
		<Footer />
	</body>
</html>
